*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: #fefefe;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #1d2528;
}

.calculator {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator-container {
  background-color: #1f272a;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 8px;
  width: 30vw;
  height: 75vh;
}

.calculator-display {
  background-color: #37464d;
  height: 20%;
  font-weight: 300;
  font-size: 30px;
  border: 2px solid black;
  border-radius: 8px;
  margin: 2%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.lower-display {
  text-align: right;
}

#result {
  font-weight: 700;
  font-size: 36px;
  width: 100%;
}

.calculator-keypad {
  background-color: #1f272a;
  display: grid;
  place-items: center;
  height: 80%;
  margin: 2%;
  gap: 3%;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
}

.span-two {
  grid-column: auto / span 2;
  place-items: stretch;
}

.calculator-button {
  background-color: #232c31;
  height: 80%;
  width: 100%;
  border-radius: 8px;
  font-weight: 700;
  font-size: 24px;
  cursor: pointer;
}

.calculator-button:hover {
  opacity: 0.7;
  border: none;
}

.blue-buttons {
  background-color: #065471;
}

#equalsButton {
  background-color: #4e9f3d;
}

#clearButton {
  background-color: #950101;
}

#deleteButton {
  background-color: #f05941;
}

.keyboard-shortcuts-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.keyboard-shortcuts-modal-content {
  background-color: #1f272a;
  margin: 12% auto;
  padding: 20px;
  border: 2px solid grey;
  border-radius: 8px;
  width: 35%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
}

.shortcuts-detail > hr {
  margin: 5px;
}

.dismiss-button {
  background-color: none;
  color: #37464d;
  border: transparent;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
}

.dismiss-button:hover {
  opacity: 0.7;
}

.toggle-floating-button {
  position: fixed;
  bottom: 50px;
  right: 50px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 8px;
  background-color: #232c31;
  font-size: 24px;
  font-weight: 700;
}

footer {
  color: grey;
  word-spacing: 10px;
  height: 10%;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.github-icon {
  margin: 0px 16px;
}

.github-icon:hover {
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .calculator {
    width: 80%;
    height: 90%;
  }

  .calculator-container {
    width: 60vw;
    height: 70vh;
  }

  .keyboard-shortcuts-modal-content {
    width: 60%;
    height: 70%;
  }
}

@media screen and (max-width: 600px) {
  .calculator {
    margin: 20%;
    width: 80%;
    height: 70%;
  }

  .calculator-container {
    width: 100%;
    height: 100%;
  }

  .keyboard-shortcuts-modal-content {
    width: 80%;
    height: 70%;
  }
}
